<!--<simple-notifications [options]="options"></simple-notifications>-->
<div class="page-body">
  <div class="row">

    <div class="col-xl-4 col-md-4">
      <div class="card">
        <div class="card-block">
          <div class="row mb-2">
            <h6 class="text-muted m-b-0">Total de Alunos </h6>
          </div>
          <div class="row align-items-center">
            <div class="col-12 px-5 mt-1">
              <h2 class="text-c-blue">500</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-xl-4 col-md-4">
      <div class="card">
        <div class="card-block">
          <div class="row mb-2">
            <h6 class="text-muted m-b-0">Genero</h6>
          </div>
          <div class="row">
          <div class="col-6 align-items-center">
            <div class="">
              <h4 class="text-c-blue">500</h4>
              <h6 class="text-muted m-b-0">Homem</h6>
            </div>
          </div>
          <div class="col-6 align-items-center">
            <div class="">
              <h4 class="text-c-blue">500</h4>
              <h6 class="text-muted m-b-0">Mulher</h6>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-4">
      <div class="card">
        <div class="card-block">
          <div class="row mb-2">
            <h6 class="text-muted m-b-0">Localização</h6>
          </div>
          <div class="row">
          <div class="col-4 align-items-center">
            <div class="">
              <h4 class="text-c-blue">500</h4>
              <h6 class="text-muted m-b-0">São Paulo</h6>
            </div>
          </div>
          <div class="col-4 align-items-center">
            <div class="">
              <h4 class="text-c-blue">500</h4>
              <h6 class="text-muted m-b-0">Campinas</h6>
            </div>
          </div>
          <div class="col-4 align-items-center">
            <div class="">
              <h4 class="text-c-blue">500</h4>
              <h6 class="text-muted m-b-0">Franca</h6>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- task, page, download counter  end -->


    
      <!-- task and revenue start -->
      <div class="col-4 col-xl-4 col-md-4">
        <app-card [title]="'Total de Alunos'" [cardClass]="'per-task-card'">
          <div class="row per-task-block text-center">
            <div class="col-12">
              <div data-label="45%" class="radial-bar radial-bar-45 radial-bar-lg radial-bar-primary"></div>
            </div>
          </div>
          <div class="col-12 mb-3">
              <!-- <div class="card-block">
                <p class="m-b-10">Direct <span class="f-right"><i class="fa fa-caret-up m-r-10"></i>25%</span></p>
                <div class="progress blue">
                  <div class="progress-bar bg-c-blue" [style.width]="'75%'"></div>
                </div>
                <p class="m-b-10 m-t-30">Social <span class="f-right"><i class="fa fa-caret-down m-r-10"></i>58</span></p>
                <div class="progress green">
                  <div class="progress-bar bg-c-green" [style.width]="'50%'"></div>
                </div>
                <p class="m-b-10 m-t-30">Referral <span class="f-right"><i class="fa fa-caret-up m-r-10"></i>20%</span></p>
                <div class="progress red">
                  <div class="progress-bar bg-c-red" [style.width]="'20%'"></div>
                </div>
                <p class="m-b-10 m-t-30">Bounce <span class="f-right"><i class="fa fa-caret-down m-r-10"></i>580</span></p>
                <div class="progress yellow">
                  <div class="progress-bar bg-c-yellow" [style.width]="'40%'"></div>
                </div>
                <p class="m-b-10 m-t-30">Internet <span class="f-right"><i class="fa fa-caret-up m-r-10"></i>70%</span></p>
                <div class="progress purple">
                  <div class="progress-bar bg-c-purple" [style.width]="'90%'"></div>
                </div> -->

                <div class="align-middle">
                  <img src="assets/images/avatar-2.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6>David Jones</h6>
                    <p class="text-muted m-b-0">Developer</p>
                  </div>
                </div>
                <div class="align-middle m-t-25">
                  <img src="assets/images/avatar-1.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6>David Jones</h6>
                    <p class="text-muted m-b-0">Developer</p>
                  </div>
                </div>
                <div class="align-middle m-t-25">
                  <img src="assets/images/avatar-3.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6>David Jones</h6>
                    <p class="text-muted m-b-0">Developer</p>
                  </div>
                </div>
                <div class="align-middle m-t-25">
                  <img src="assets/images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6>David Jones</h6>
                    <p class="text-muted m-b-0">Developer</p>
                  </div>
                </div>
                <div class="align-middle m-t-25">
                  <img src="assets/images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6>David Jones</h6>
                    <p class="text-muted m-b-0">Developer</p>
                  </div>
                </div>
              </div>
        </app-card>
      </div>
      <!-- task and revenue end -->

    <!--  sale analytics start -->
    <div class="col-xl-8 col-md-12">
      <app-card [title]="'Sales Analytics'">
        <p class="m-b-10">Direct <span class="f-right"><i class="fa fa-caret-up m-r-10"></i>25%</span></p>
        <div class="progress blue">
          <div class="progress-bar bg-c-blue" [style.width]="'75%'"></div>
        </div>
        <p class="m-b-10 m-t-30">Social <span class="f-right"><i class="fa fa-caret-down m-r-10"></i>58</span></p>
        <div class="progress green">
          <div class="progress-bar bg-c-green" [style.width]="'50%'"></div>
        </div>
        <p class="m-b-10 m-t-30">Referral <span class="f-right"><i class="fa fa-caret-up m-r-10"></i>20%</span></p>
        <div class="progress red">
          <div class="progress-bar bg-c-red" [style.width]="'20%'"></div>
        </div>
        <p class="m-b-10 m-t-30">Bounce <span class="f-right"><i class="fa fa-caret-down m-r-10"></i>580</span></p>
        <div class="progress yellow">
          <div class="progress-bar bg-c-yellow" [style.width]="'40%'"></div>
        </div>
        <p class="m-b-10 m-t-30">Internet <span class="f-right"><i class="fa fa-caret-up m-r-10"></i>70%</span></p>
        <div class="progress purple">
          <div class="progress-bar bg-c-purple" [style.width]="'90%'"></div>
        </div>
      </app-card>
    </div>

  </div>
</div>
