.logo-text{
    font-weight: revert;
    font-size: xxx-large;
    color: #000;
}

.logo-text-navbar{
    font-weight: revert;
    font-size: x-large;
    color: #fff;
}

.version{
    font-size: medium;
    color: #dcdcdc;
}

.pcoded-navbar{
    background-color: #eff5f7;
    height: 100vh;
}